@keyframes rotationZ {
    from {transform: rotateZ(0deg);}
    to {transform: rotateZ(360deg);}
}

*
{
    box-sizing: border-box;
}

body
{
    background: #eef;
    text-align: center;
    margin: 0;
    padding: 0;
}
#container
{
    height: 100%;
    width: 100%;
    position: fixed;
    perspective: 1000px;
    transform-style: preserve-3d;
}
div
{
    display: inline-block;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transform-style: preserve-3d;
}
.building
{
    position: absolute;
    width: 100px; /*w*/
    height: 100px; /*h*/
    box-shadow: -10px 10px 50px 10px rgba(0,0,0,0.2);
    transform: scaleZ(1);
}
.wall
{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    
    font-size: 50px;
    box-shadow: 0px -100px 100px -100px rgba(0,0,0,0.2) inset;
    border: 1px solid #eee;
}
.wallN
{
    background: #eee;
    transform: translateY(-50%) rotateX(-90deg) translateY(-50%) rotateY(180deg);
}
.wallS
{
    background: #bbb;
    transform: rotateZ(180deg) translateY(-50%) rotateX(-90deg) translateY(-50%) rotateY(180deg);
}
.wallE
{
    background: #ddd;
    transform: rotateZ(90deg) translateY(-50%) rotateX(-90deg) translateY(-50%) rotateY(180deg);
}
.wallW
{
    background: #aaa;
    transform: rotateZ(270deg) translateY(-50%) rotateX(-90deg) translateY(-50%) rotateY(180deg);
}
.roof
{
    background: #fff;
    transform: translateZ(100px);
    box-shadow: none;
}

#pot div.faceOuter
{
    /*border-radius: 50px;*/
}
#pot div.faceOuterFront
{
    background: #6495ED;
    /*box-shadow: 0px 0px 10px 10px #84b5ff inset;*/
}
#pot div.faceOuterBack
{
    background: #84b5ff;
    transform: rotateY(180deg);
}
#pot div.faceBlock
{
    background: #84b5ff;
    transform: translateZ(-30px) scale(0.95);
}